:root {

            }
            @font-face {
                font-family: basiic;
                src: url('fonts/basiic.ttf');
            }
            @font-face {
                font-family: porkys;
                src: url('fonts/PORKYS_.TTF');
            }
            @font-face {
                font-family: BILLO;
                src: url('fonts/BILLO.TTF');
            }

            body {
                font-family: 'basiic';
                margin: 0;
                background-color: #D4C3FF;
                color: #8186B3;
                animation: fadeInAnimation ease .75s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }
            @keyframes fadeInAnimation {
              0% {
                  opacity: 0;
              }
              100% {
                  opacity: 1;
               }
             }
            
            #container { 
              background: url('/assets/movestarbackground.gif');
              background-repeat: repeat;
              position: relative;
              height: 1000px;
              width: 1000px;
              margin: 0 auto;
            }
            
            #container a {
                color: #7964F5;
                font-weight: bold;
            }
            #flex {
                display: flex;
                flex-flow: row wrap;
            }
            
            main {
              display: flex;
                flex: 1;
                flex-flow: row nowrap;
                background-color: transparent;
                border-width:7px;
                border-style:solid;
                border-image: url("https://i.imgur.com/NJa4bp2.png") 8 fill round;
                padding: 10px;
                width: 800px;
                z-index: 30;
                margin: 0 auto;
            }
              footer {
               display: flex;
                flex: 1;
                background-color: transparent;
                border-width:7px;
                border-style:solid;
                border-image: url("https://i.imgur.com/NJa4bp2.png") 8 fill round;
                padding: 0px;
                width: 820px;
                z-index: 30;
                margin: 0 auto;
            }
            leftside, rightside {
              background-color: white;
              border-width:7px;
              border: solid 5px #2e0b4f;
              border-radius: 10px;
              margin-right: 5px;
              padding: 20px;
              height: 250px;
              overflow:auto;
              -ms-overflow-style: none;
              scrollbar-width: none;  
            }
            
            leftside {
              flex-basis: 45%;
            }
            leftside::-webkit-scrollbar {
              display:none;
            }
            rightside {
              flex-basis: 50%;
            }
            rightside::-webkit-scrollbar {
              display:none;
            }
            
            .planet {
            position: absolute;
            left: -120px;
            top: 300px;
            width: 25em;
            height: auto;
            z-index: 100;
            transform: rotate(-30deg);
            }
            
            #counter {
              display: block;
              margin-top: 10px;
              margin-left: auto;
              margin-right: auto;
            }
            
            #welcome {
              width: 250px;
              height: auto;
              display: block;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 5px;
            }
            
            #enter {
              width: 200px;
              height: auto;
              display: block;
              margin-left: auto;
              margin-right: auto;
            }
            #divider {
              width: 300px;
              height: auto;
              display: block;
              margin-left: auto;
              margin-right: auto;
            }
            
            #border {
              width: 1000px;
              height: 1000px;
              position: absolute;
              right: 0px;
              z-index: 99;
              background: url('/assets/Border-01.png');
              background-size: cover;
              background-color: transparent;
              pointer-events: none;
            }
            #filler{
              margin-bottom: 330px;
            }
            
            h1,
            h2,
            h3 {
                color: #FF9AE4;
                font-family: 'Billo';
            }

            h1 {
                font-size: 37px;
                margin: 6px;
            }
            h2, h3 {
              margin: 2px;
            }

            strong {
                color: #8186B3;
            }
            
            /* Custom Cursor from Cursors4U */
              * {cursor: url(https://cur.cursors-4u.net/others/oth-3/oth275.cur), auto !important;}
              /* Custom Cursor from Cursors4U */
            
            /* Media Query! */
            
                       @media only screen and (max-width: 830px) {
            body {
              background-image: url('/assets/movestarbackground.gif');
            }
             main {
               flex-flow: row wrap;
               width: auto;
               row-gap: 10px;
               }
             footer {
               width: auto;
               }
            #container { 
              background: none;
              height: auto;
              width: auto;
            }
               
            leftside, rightside {
              flex-basis: 100%;
            }
            leftside {
              order: 2
            }
            rightside {
              order: 1;
            }
            
            #filler {
              margin-bottom: 100px;
            }
                         
          #bgcontainer {
             display:none;
            }
          .planet {
             display:none;
            }
            
          #border {
            display:none;
          }
          #welcome {
              width: 170px;
            }
          #enter {
              width: 130px;
            }
            #filler{
              margin-bottom: 100px;
            }
        }
        
        
        
        
        
        
        
        
        
        
        
        
        
        
                